.table td,
.table th {
    padding: 12px 16px !important;
}

.table.table-row-bordered > :not(caption) > * > * {
    padding: 14px 18px !important;
}

.table thead th {
    padding-top: 14px !important;
    padding-bottom: 14px !important;
    font-size: 15px;
}

.table tbody td {
    vertical-align: middle !important;
    font-size: 15px;
}




body, html {
    margin: 0 !important;
    padding: 0 !important;
}

.btn, .card-header .btn, .d-flex.gap-2 {
    display: none !important;
}

#kt_app_header,
#kt_app_toolbar,
#kt_app_sidebar,
#balances_h,
.app-navbar,
.footer{
    display: none !important;
}

#kt_app_content_container,
.card,
.table-responsive {
    width: 100% !important;
    max-width: 100% !important;
}

table th, table td {
    font-size: 14px !important;
    padding: 6px 8px !important;
}

/* منع تقطيع الصفحات داخل الجداول */
/*table {
    page-break-inside: avoid;
}*/

tr {
    page-break-inside: avoid;
}

h1, h2, h3 {
    page-break-after: avoid;
}


@media print {
    .no-print {
        display: none !important;
    }
}


@media print {

    body, html {
        margin: 0 !important;
        padding: 0 !important;
    }

    @page {
        margin: 0 !important;
        padding: 0 !important;
    }

    #print-area > *:first-child {
        margin: 0 !important;
        padding: 0 !important;
    }

    body.printing-active .no-print {
        display: none !important;
    }

    

}

@page {
    margin: 0 !important;
    padding: 0 !important;
}


* {
    padding: 0 !important;
    margin: 0 !important;
}


/* ============================= */
/*   إزالة أي هوامش وقت الطباعة */
/* ============================= */

/*@media print {*/

    /* إزالة الهوامش من كل العناصر */
    /** {
        margin: 0 !important;
        padding: 0 !important;
    }

    html, body {
        margin: 0 !important;
        padding: 0 !important;
    }*/

    /* إخفاء العناصر الغير مطلوبة في الطباعة */
    /*.btn,
    .card-header .btn,
    .d-flex.gap-2,
    #kt_app_header,
    #kt_app_toolbar,
    #kt_app_sidebar,
    #balances_h,
    .app-navbar,
    .footer,
    .no-print {
        display: none !important;
    }*/

    /* توسيع المحتوى */
    /*#kt_app_content_container,
    .card,
    .table-responsive {
        width: 100% !important;
        max-width: 100% !important;
    }*/

    /* تصغير البادينج للجدول */
    /*table th, table td {
        padding: 6px 8px !important;
        font-size: 14px !important;
    }*/

    /* منع التقطيع */
    /*tr {
        page-break-inside: avoid;
    }

    h1, h2, h3 {
        page-break-after: avoid;
    }
}*/

/* الصفحة بدون هوامش */
/*@page {
    margin: 0 !important;
}*/
